/* Variables */
@import "./css/variables.css";

/* Reset and dependencies */
/* @import "./css/_normalize.css"; */
/* @import "./css/_modern-normalize.css"; */
@import "./css/_reset.css";
@import "./css/_base.css";

@import "./css/_depth.css";
@import "./css/_backgrounds.css";

/* Elements */
@import "./css/_typography.css";
/* @import "scss/asian"; */
@import "./css/_tables.css";
/* @import "scss/buttons"; */
/* @import "scss/forms"; */
/* @import "scss/labels"; */
@import "./css/_codes.css";
/* @import "scss/media"; */

/* Layouts */
/* @import "./css/_hero.css"; */

/* body {
    transition: background 250ms, color 250ms;
    color: var(--text-color);
    background-color: var(--background-color);
} */

/* @media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
} */

[scheme="light"] {
    --dark-color: hsla(var(--h), 7.5%, 25%, calc(var(--a) * 1%));
    --dark-color-90: hsla(var(--h), 7.5%, 25%, calc(var(--a) * 1% - 10%));

    --light-color: hsla(var(--h), 7.5%, 90%, calc(var(--a) * 1%));
    --light-color-90: hsla(var(--h), 7.5%, 90%, calc(var(--a) * 1% - 10%));
}

[scheme="dark"] {
    --dark-color: hsla(var(--h), 7.5%, 85%, calc(var(--a) * 1%));
    --dark-color-90: hsla(var(--h), 7.5%, 85%, calc(var(--a) * 1% - 10%));

    --light-color: hsla(var(--h), 7.5%, 15%, calc(var(--a) * 1%));
    --light-color-90: hsla(var(--h), 7.5%, 15%, calc(var(--a) * 1% - 10%));
}
